@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    padding: 5px;
}
body{
    padding: 50px;
    min-height: 100vh;
    background-image: linear-gradient(90deg,rgb(228, 228, 228) 76%,rgb(23, 97, 194)14%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(23, 91, 194);
    margin-bottom: 30px;
    font-weight: 800;
    font-size:50px;
   
}
h2{
    margin-bottom: 10px;
    font-weight: 800;
    font-size:50px;
    margin-top: 50px;
    color: rgb(23, 97, 194);
}
.dic-p{
    width: 70%;
    margin-bottom: 30px;
}
h3{
    color: rgb(23, 97, 194);
}
.main-img{
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow:5px 5px 20px;
    
}